<main class="mt-6 px-2 max-w-5xl mx-auto">
  <h1 class="font-sans font-bold text-gray-950 text-base tracking-tight md:text-lg">
    Welcome to Kern
  </h1>

  <p class="mt-2 text-sm md:text-base text-gray-800">
    SaaS foundation for Ruby on Rails apps by <%= link_to "Rails Designer", "https://railsdesigner.com" %>. You are ready to build your next SaaS.
  </p>

  <section class="mt-6">
    <h2 class="font-sans font-bold text-gray-950 text-sm tracking-tight md:text-base">
      Get started
    </h2>

    <ul class="list-disc list-inside marker:text-blue-500">
      <li>
        add your own root route (<code>root to: "dashboard#show"</code>)
      </li>

      <li>
        install <%= link_to "Rails Icons", "https://github.com/Rails-Designer/rails_icons" %>; Kern uses the <b>Phosphor</b> library
      </li>

      <li>
        override any views by running <code>bin/rails g kern:views</code>
      </li>

      <li>
        override any feature by running <code>bin/rals g kern:feature</code>
      </li>

      <li>
        build your SaaS
      </li>

      <li>
        profit 🤑
      </li>
    </ul>

  </section>
</main>
